.itemss {
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, 1fr);
    display: grid;

    // max-width: 900px;
    justify-self: end;


}

.aktiviteter {
    max-width: fit-content;
    
}

.itemm {
    max-width: fit-content;
}

.front__section {
    display: grid;
    grid-template-rows: repeat(2, auto);
    width: fit-content;
    justify-self: end;

    form {
        div {
            margin-bottom: 2.5rem;
            margin-top: 4rem;
            max-width: 100%;
            ;

            input,
            select,
            button {
                grid-row: 1;
            }

            input,
            button {
                grid-column: 1;
            }

            label {
                display: grid;
            }

            select {
                justify-self: end;
                margin-right: 12%;
                border-radius: 9px;

            }

            input {
                border-radius: 11px;
                width: 50%;
                padding: 1%;
                z-index: 1;
            }

            button {
                border: none;
                justify-self: center;
                width: 10%;

                position: relative;
                left: 5%;
                background-color: white;

                svg {
                    position: relative;
                    right: 3.8rem;
                    z-index: 2;
                }
            }

        }

    }
}