.signin{
    background-color: #767676;
   
  
}
.register{
 color: white;
}
.signin,.register{

    padding: 10px;
    border-radius: 9px;
margin-right: 0 !important;  
 margin-left: 25px;
      text-align: center;
 
}.navigation{
        display: grid
;
    grid-auto-flow: column;
    align-items: center;
    max-width: 1200px;

    margin: 0 auto;
list-style-type: none;
padding: 25px;

.grid1{
    display: grid;
    grid-auto-flow: 
    column;
    align-items: center;
    justify-self: start;
        img,h1{
            margin-right: 25px;
    }
}   


.register{
      background-color: #1E1E1E;
}
.grid2{
    display: grid;
    grid-auto-flow: 
    column;
    align-items: center;
    justify-self: end;

    a{
            margin-right: 25px;
            a{
                color: black;
            }
    }
    
}


}
nav{
    hr{
        max-width: 1200px;
    }
}